table.dataTable tbody td { border-left:1px solid #000;border-bottom:1px solid #000;text-align:center; }
table.dataTable tbody td:last-child { border-right:1px solid #000; }
table.dataTable tbody tr:last-child td { border-bottom:0px; }
table.dataTable { width:98% !important; }

.animupdate, .animdelete, .animcopy {
  border-radius:25px;
  border: #eee solid 2px;
  color: #eee;
  display:inline-block;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  letter-spacing: 3px;
  font-size:14px;
  font-weight: 400;
  text-transform:uppercase;
  line-height:24px;
  text-align:center;
  text-decoration:none;
  padding: 3px 22px;
  margin-bottom: 8px;
  word-spacing: normal;
  line-height: 1.1em;
}

.animdelete {
  color: #CC383D;
}
.animdelete:hover{
  color: #661D20;
}

.animcopy:hover, .animcopy:hover {
  color: #661D20;
}

.animupdate:hover {
  background-color: #eee;
  color: #34363a;
  transition:.2s;-o-transition:.2s;-ms-transition:.2s;-moz-transition:.2s;-webkit-transition:.2s;
  -webkit-font-smoothing: antialiased !important;
}

pre { padding:10px;background:#eee;border:1px solid #eee; }
pre:hover { background:#FFF;border:1px solid #07bee5;color:#07bee5;font-weight:bold;}
.hypeanimbloc { display:inline-block;padding:10px;background:#FFF;border:1px solid #000;color:#000; }
.eraabout { float:right; padding-right:20px; }
.eraabout h2 { text-align:right; }
.eralink { color:#07bee5; }
.eralogo {
	position:absolute;
	top:10px;
	right:20px;
	width:100px;
	opacity: 0.2;
	filter: alpha(opacity=20);
}
.hypeanimupdated {
	margin-left:5px;
	color:#009933;
	font-weight:bold;
	display:inline-block;
}

#add_hypeanimations_shortcode_button i::before {
	margin-top: 3px;
}
#add_hypeanimations_shortcode_newbutton i::before {
	margin-top: 3px;
}
#choosehypeanimation {
	background:#336699;
	color:#FFF;
	padding:5px;
	border:0;
	cursor:pointer;
}
/*#hypeanimdropzone,#hypeanimdropzone2 {
	text-align: center;
	font-weight:bold;
}*/
.dropzone,.dropzone2 {
	text-align: center;
	font-weight:bold;
    min-height: 100px !important;
	background:#eee !important;
}
.animdelete { background:#FF0000;margin:1px;color:#FFF;padding:5px;border:1px solid #FF0000;-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px;text-decoration:none; }
.animdelete:hover { color:#FF0000;background:#fff; }
.animupdate {background:#0099cc;margin:1px;color:#FFF;padding:5px;border:1px solid #0099cc;-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px;text-decoration:none; }
.animupdate:hover { color:#0099cc;background:#fff; }
pre { padding:10px;background:#eee;border:1px solid #eee; }
pre:hover { background:#FFF;border:1px solid #07bee5;color:#07bee5;font-weight:bold;}
.hypeanimbloc { display:inline-block;padding:10px;background:#FFF;border:1px solid #000;color:#000; }
.eraabout { display:none;float:right; padding-right:20px; }
.eraabout h2 { text-align:right; }
.eralink { color:#0099cc; }
.eralogo {
  position:absolute;
  top:10px;
  right:20px;
  width:100px;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.hypeanimupdated {
  margin-left:5px;
  color:#009933;
  font-weight:bold;
  display:inline-block;
}

#add_hypeanimations_shortcode_button i::before {
  margin-top: 3px;
}
#add_hypeanimations_shortcode_newbutton i::before {
  margin-top: 3px;
}
#choosehypeanimation {
  background:#0099cc;
  color:#FFF;
  padding:5px;
  border:0;
  cursor:pointer;
}
/*#hypeanimdropzone,#hypeanimdropzone2 {
  text-align: center;
  font-weight:bold;
}*/
.dropzone,.dropzone2 {
  text-align: center;
  font-weight:bold;
    min-height: 100px !important;
  background:#eee !important;
}
    border: 2px dotted rgba(0, 0, 0, 0.3) !important;
}

.cf:before,
.cf:after {
  content:"";
  display:table;
}
.cf:after {
  clear:both;
}
.droitefermer {
  float:right;
  font-size:22px;
  text-decoration:none;
  font-weight: bold;
  font-size:1.5em;
}
 
.oModal {
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
 
.oModal:target {
  opacity:1;
  pointer-events: auto;
}
 
.oModal:target > div {
  margin: 10% auto;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
 
.oModal > div {
  max-width: 600px;
  position: relative;
  margin: 1% auto;
  padding: 8px 8px 8px 8px;
  border-radius: 5px;
  background: #eee;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
 
.oModal > div header,.oModal > div footer {
  border-bottom: 1px solid #e7e7e7;
  border-radius: 5px 5px 0 0;
}
.oModal .footer {
  border:none;
  border-top: 1px solid #e7e7e7;
  border-radius: 0 0 5px 5px;
}
 
.oModal > div h2 {
  margin:0;
}
 
.oModal > div .btn {
  float:right;
}
 
.oModal > div section,.oModal > div > header, .oModal > div > footer {
  padding:15px;
}

.animcopy {
    background: #009976;
    margin: 1px;
    color: #FFF;
    padding: 5px;
    border: 1px solid #009976;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-decoration: none;
}
.animcopy:hover { color:#009976;background:#fff; }

.popup-wrap {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.2);
}

/*.popup-overlay {
    position: relative;
}*/

.popup {
    background: #fff;
    height: 200px;
    width: 500px;
    margin: 15% auto;
    top: 30%;
    position: relative;
}

span.close-popup {
    position: absolute;
    right: 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    text-align: center;
    font-weight: 600;
    z-index: 999999;
    cursor: pointer;
    top: 4px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
}

textarea.copydata {
    padding: 20px 20px 0 20px;
}
span.copied {
    display: none;
    position: absolute;
    background: #009976;
    padding: 5px;
    width: auto;
    text-align: center;
    font-weight: 600;
	color:#ffffff;
    left: 36%;
    top: 50%;
}
h3.popup-heading {
    text-align: center;
    margin: 0;
    padding: 10px 0;
}

.toplevel_page_hypeanimations_panel #wpbody-content {
    padding: 0;
}

.toplevel_page_hypeanimations_panel #wpfooter {
    position: static;
}

.dropzone .dz-preview .dz-details .dz-filename:not(:hover) {
    margin-top: 30px;
}