table.dataTable tbody td {
    border-bottom: 1px solid #e7e7e7;
    text-align: center;
}

table.dataTable tbody td:last-child {
    border-right: 1px solid #ccc;
}

table.dataTable tbody tr:last-child td {
    border-bottom: 0px;
}

table.dataTable {
    width: 100% !important;
    margin-right: 15px;
}

table.dataTable tbody tr.even {
    background-color: #f9f9f930;
}

.dataTables_paginate {
    padding-right: .75em;
}

#hypeanimations_length,
hypeanimations_filter {
    margin-bottom: 5px;
}

#hypeanimations .shortcodeval {
    width: 232px;
    text-align: center;
}

.containinput {
    margin-top: 3px;
}

 

input.updatecontainer {
    margin-top: 3px;
    border: 1px solid #43434300;
    background-color:#e2e2e2;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    padding: 5px 12px;
    font-size: 14px;
    color: #black;
    border-radius: 5px;
    box-shadow: 0px 0px 28px 1px rgba(0, 0, 0, 0.0001);
    cursor: pointer;
    outline: none;
    transition: 0.2s all;
}
input.updatecontainer:hover {
    margin-top: 3px;
    border: 1px solid #434343;
    background-color:#ffffff;
    text-decoration: none;
    color: #white;
    border-radius: 5px;
    box-shadow: 0px 0px 28px 1px rgba(0, 0, 0, 0.0001);
    cursor: pointer;
    outline: none;
    transition: 0.2s all;
}
 
.updatecontainer:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
     
}

#hypeanimations_wrapper {
    padding-right: 20px;
}


.animupdate,
.animdelete,
.animcopy {
    border-radius: 5px;
    border: #eee solid 1px;
    color: #eee;
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    margin: 5px auto;
    word-spacing: normal;
    line-height: 1.1em;
}

.animcopy:hover,
.animcopy:hover {
    color: #661D20;
    cursor: pointer;
}

.animcopy {
    background: #009976;
    color: #FFF;
    border: 1px solid #009976;
    text-decoration: none;
}

.animdelete {
    color: #CC383D;
    transform: scale(0.666);
}

.animdelete:hover {
    color: #661D20;
}

.animupdate:hover,
.animcopy:hover {
    background-color: #eee;
    color: #34363a;
    transition: .2s;
    -o-transition: .2s;
    -ms-transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
    -webkit-font-smoothing: antialiased !important;
}

#hypeanimations pre {
    padding: 10px;
    background: #eee;
    border: 1px solid #eee;
}

#hypeanimations pre:hover {
    background: #FFF;
    border: 1px solid #07bee5;
    color: #07bee5;
    font-weight: bold;
}

.hypeanimbloc {
    display: inline-block;
    width: 430px;
    padding: 10px;
    margin-left: 10px;
    background: #fafafa;
    border: 1px solid #ccc;
}

.eraabout {
    float: right;
    padding-right: 20px;
}

.eraabout h2 {
    text-align: right;
}

.eralink {
    color: #07bee5;
}

.eralogo {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 100px;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.hypeanimupdated {
    margin-left: 5px;
    color: #009933;
    font-weight: bold;
    display: inline-block;
}

#add_hypeanimations_shortcode_button i::before {
    margin-top: 3px;
}

#add_hypeanimations_shortcode_newbutton i::before {
    margin-top: 3px;
}

#choosehypeanimation {
    background: #336699;
    color: #FFF;
    padding: 5px;
    border: 0;
    cursor: pointer;
}

.dropzone,
.dropzone2 {
    text-align: center;
    font-weight: bold;
    min-height: 100px !important;
    background: #eee !important;
}

.animdelete {
    margin: 1px;
    color: #FF0000;
    padding: 5px;
    text-decoration: none;
}

.animdelete:hover {
    color: #fff;
    background: #FF0000;
}

.animupdate {
    background: #0099cc;
    margin: 1px;
    color: #FFF;
    padding: 5px;
    border: 1px solid #0099cc;
    text-decoration: none;
}

.animupdate:hover {
    color: #0099cc;
    background: #fff;
}

.hypeanimupdated {
    margin-left: 5px;
    color: #009933;
    font-weight: bold;
    display: inline-block;
}

#add_hypeanimations_shortcode_button i::before {
    margin-top: 3px;
}

#add_hypeanimations_shortcode_newbutton i::before {
    margin-top: 3px;
}

#choosehypeanimation {
    background: #0099cc;
    color: #FFF;
    padding: 5px;
    border: 0;
    cursor: pointer;
}


/*#hypeanimdropzone,#hypeanimdropzone2 {
  text-align: center;
  font-weight:bold;
}*/

.dropzone,
.dropzone2 {
    text-align: center;
    font-weight: bold;
    min-height: 100px !important;
    background: #eee !important;
    border: 2px dotted rgba(0, 0, 0, 0.3) !important;
}

.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.closemodal {
    float: right;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
}

.openModal {
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.openModal:target {
    opacity: 1;
    pointer-events: auto;
}

.openModal:target>div {
    margin: 10% auto;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

.openModal>div {
    max-width: 600px;
    position: relative;
    margin: 1% auto;
    padding: 8px 8px 8px 8px;
    border-radius: 5px;
    background: #eee;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

.openModal>div header,
.openModal>div footer {
    border-bottom: 1px solid #e7e7e7;
    border-radius: 5px 5px 0 0;
}

.openModal .footer {
    border: none;
    border-top: 1px solid #e7e7e7;
    border-radius: 0 0 5px 5px;
}

.openModal>div h2 {
    margin: 0;
}

.openModal>div .btn {
    float: right;
}

.openModal>div section,
.openModal>div>header,
.openModal>div>footer {
    padding: 15px;
}

.popup-wrap {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.2);
}


/*.popup-overlay {
    position: relative;
}*/

.popup {
    background: #fff;
    height: 200px;
    width: 500px;
    margin: 15% auto;
    top: 30%;
    position: relative;
}

span.close-popup {
    position: absolute;
    right: 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    text-align: center;
    font-weight: 600;
    z-index: 999999;
    cursor: pointer;
    top: 4px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
}

textarea.copydata {
    padding: 20px 20px 0 20px;
    font-family: 'Courier New', Courier, monospace;
}

.shortcodeval {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    font-style: bold;
}

span.copied {
    display: none;
    position: absolute;
    background: #009976;
    padding: 5px;
    width: auto;
    text-align: center;
    font-weight: 600;
    color: #ffffff;
    left: 36%;
    top: 50%;
}

h3.popup-heading {
    text-align: center;
    margin: 0;
    padding: 10px 0;
}

.toplevel_page_hypeanimations_panel #wpbody-content {
    padding: 0;
}

.toplevel_page_hypeanimations_panel #wpfooter {
    position: static;
}

.dropzone .dz-preview .dz-details .dz-filename:not(:hover) {
    margin-top: 30px;
}

#hypeanimations>thead>tr {
    background-color: #CCC;
    color: black;
    margin-top: 10px;
    padding-top: 10px;
}